<!DOCTYPE html>
<html lang="en" ng-app="pomodoro">
<head>
  <meta charset="UTF-8">
  <title>Pomodoro App</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="scss/style.css">
</head>
<body>

  
  

  <div class="column-3" id="sidebar" ng-controller="sidebarController">
    <form  data-ng-submit="add()">
    <input placeholder="Add a task" type="text" ng-model="newTodo" >
    </form>
    <div ng-repeat="task in tasks">
    <task></task>
    </div>

  </div>
  
  <div class="column-9" id="main">
    <div id="timer" ng-controller="timerController">
      <!-- <div class="finished"></div> -->
        <h1 id="watch">30:00</h1>
        <button ng-click="countdown()"><i class="fa fa-play"></i></button>
        <button><i class="fa fa-pause"></i></button>
        <button><i class="fa fa-stop"></i></button>
    </div>
    <div id="info">
      <div class="column-6">
        <div class="card">
        <h2>July 1</h2>
        <h3>Thursday</h3>
        </div>
      </div>

        <div class="column-6">
          <div class="card">
          <h4><span>Tasks Completed:</span> 10</h4>
          <h4><span>Tasks Pending: </span> 28 </h4>
          <h4><span>Pomodoros Acheived:</span> 6</h4>
        </div>
      </div>
    </div>
  </div>
  


</body>
<script src="js/timer.js"> </script>

</html>
